body{
	margin:0px;
}
*{list-style-type:none;}
.ul7 a{text-decoration:none;color:#FFFFFF;margin:0 10px;}

.ul7 a:hover{color:#e1604d;cursor:pointer;}

.ul8 a{text-decoration:none;color:#FFFFFF;margin:0 10px;}
.ul8 a:hover{color:#e1604d;cursor:pointer;}
.ul8{ margin-top:-45px;font-size:18px;color:#FFFFFF;float:left;margin-left:670px;}
	
.ul8 .lab1{font-size:8px; color:#999999;}

.ul8 .lab2{font-size:18px; color:#999999; margin-left:10px;}
.ul8 .lab3{margin-left:16px;font-size:12px;}
.ul8 .lab4{margin-left:-5px;font-size:12px;}
#container{	background-color:#372c3a;height:70px;width:1140px;margin-left:210px;}

.ul7{list-style:none;color:#FFFFFF;float:left;font-size:18px;margin-left:220px; margin-top:25px;}

.top_name{margin-top:-30px; margin-left:180px;}
#top_r li{ float:left; position:relative; margin:0 5px;}
#top_r li a{color:#ccc;font-size:14px;}
#top_r li a:hover{ color:#ff0000;}
#top_r ul{ display:none; width:200px;  padding:10px; box-shadow: 0px 0px 2px #DDD;
background: none repeat scroll 0% 0% #FFF; z-index:999; position:absolute; right:-100px; top:30px;}
#top_r ul li{ width:190px; height:30px; line-height:30px;}
.top_name li{ height:30px; line-height:30px; color:#ccc;}
.top_name li img{ margin-top:3px; float:left; margin-left:15px; width:24px; height:24px;}
.top_name ul{ background:rgba(0,0,0,0.6)!important; width:100px!important; right:-15px!important;}


#footer{width:1140px;background-color:#372c3a;height:180px;clear:both;overflow:hidden;margin-top:-15px;margin-left:210px;}
a:hover{
color:#e1604d;
cursor:pointer;
}
a{text-decoration:none;color:#FFFFFF;}
.ful{margin-top:15px; margin-left:-50px;}
.ful1,.ful2,.ful3,.ful4,.ful5,.ful6,.ful7,.ful8,.ful9,.ful10,.ful11,.ful12,.ful13{font-size:0.8em;}
.ful1 label{color:#e1604d;}
.ful2 hr{color:#e1604d;}
.ful1{font-size:16px;margin-left:50px;}
.ful1 li{position:absolute;margin-top:20px;}
.ful2{position:absolute;}
.ful3{position:absolute;margin-top:75px;margin-left:25px;}
.ful3 li{float:left;padding:0px 24px;}
.ful4{position:absolute;margin-top:75px;margin-left:248px;}
.ful4 li{float:left;padding:0px 20px;}
.ful5{position:absolute;margin-top:75px;margin-left:458px; color:#FFFFFF}
.ful5 li{float:left;padding:0px 20px;}

.ful6{position:absolute;margin-top:100px;margin-left:25px;}
.ful6 li{float:left;padding:0px 20px;}
.ful7{position:absolute;margin-top:100px;margin-left:248px;}
.ful7 li{float:left;padding:0px 20px;}
.ful8{position:absolute;margin-top:100px;margin-left:458px; color:#FFFFFF}
.ful8 li{float:left;padding:0px 20px;}

.ful9{position:absolute;margin-top:125px;margin-left:25px;}
.ful9 li{float:left;padding:0px 20px;}
.ful10{position:absolute;margin-top:125px;margin-left:248px;}
.ful10 li{float:left;padding:0px 20px;}
.ful11{position:absolute;margin-top:125px;margin-left:458px;}
.ful11 li{float:left;padding:0px 20px; color:#FFFFFF}
.ful12{position:absolute; margin-left:830px; line-height:20px; margin-top:10px;}
.ful13{position:absolute; margin-left:960px; line-height:20px; margin-top:10px;}
.fuldy{margin-left:40px; color:#FFFFFF;}