{% load staticfiles %}
{% load settingsvalue %}
{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<head>
<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
<!--百度统计-->
<script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?afdeb5d28fdd744142dbe81b4203efac";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
<meta name="baidu-tc-verification" content="fcb12b2cc7f02674c9f8ad1facbdc736" />
<script>
function show()
{
 code.style.display="block";
}
function hide()
{
  code.style.display="none";
}
</script>
</head>
<body>
<style type="text/css">
</style>
<div id="footer">
	   <div class="footer_top">
	   <ul class="ful">
		<ul class="ful1">
			<li>
				<label>合作伙伴</label>
				<label style="margin-left:145px;">友情链接</label>
				<label style="margin-left:140px;">联系我们</label>
			</li>
		</ul>
		<ul class="ful2">
			<li>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:50px;margin-left:55px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:180px;margin-top:-2px;margin-left:270px;"></div>
				</label>
				<label>
					<div style="border-top:1px solid #e1604d;height:1px;width:330px;margin-top:-2px;margin-left:480px;"></div>
				</label>
			</li>
		</ul>		
		<ul class="ful3">
			<li>
				<a href="javascript:void(0);">天使客</a>				
			</li>
			<li>
				<a href="javascript:">天使街</a>	
			</li>
		</ul>
		<ul class="ful4">
			<li>			
				<a href="javascript:">股权众筹</a>	
			</li>
			<li>
				<a href="javascript:">众筹工坊</a>	
			</li>
		</ul>
		<ul class="ful5">
			<li>
				咨询热线:400-709-1818
			</li>
		</ul>
		<ul class="ful6">
			<li>
				<a href="javascript:">京东众筹</a>				
			</li>
			<li>
				<a href="javascript:">大家投</a>	
			</li>
		</ul>
		<ul class="ful7">
			<li>			
				<a href="javascript:">新金融</a>	
			</li>
			<li>
				<a href="javascript:">&nbsp;&nbsp;&nbsp;P2P理财</a>	
			</li>
		</ul>
		<ul class="ful8">
			<li>
				公司邮箱:sys@pttjf.com
			</li>
		</ul>
		<ul class="ful9">
			<li>
				<a href="javascript:">众筹之家</a>				
			</li>
			<li>
				<a href="javascript:"></a>
			</li>
		</ul>
		<ul class="ful10">
			<li>			
				<a href="javascript:">证券中星</a>	
			</li>
			<li>
				<a href="javascript:">中申网</a>	
			</li>
		</ul>
		<ul class="ful11">
			<li>
				公司地址:上海市闵行区沪闵路7866号莲花广场2号楼908室	
			</li>
		</ul>
		
		<ul class="ful12">	
			<li>
				<img src="/static/images/ddbid_8cm.jpg" width="100px;" height="100px;" />
			</li>
			<li class="fuldy">
				<label style="color:#FFFFFF;">订阅号</label>
			</li>
		</ul>
	</ul>
	</div>
	  <div class="footer_bottom">
	  <span class="cdjf">&nbsp;&nbsp;上海辞达金融信息服务有限公司&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备14053786</span>
	   <div style="padding-top:5px; position:absolute;left:52%;">
	 
        <a href="#" class="ico1 fr" onMouseOver="show()" onMouseOut="hide()"></a>
        <a href="http://www.weibo.com" class="ico fr" target="_blank"></a>
		 
        <a href="{% url 'about_us' %}" class="fl">关于我们</a>
        <a href="{% url 'contact_us' %}" class="fl">加入我们</a>
		<a href="{% url 'about_us' %}" class="fl">服务条款</a>
        <a href="{% url 'contact_us' %}" class="fl">帮助中心</a>
		<a href="{% url 'about_us' %}" class="fl">意见反馈</a>
        <p id="code" style="display:none;">
            <img src="/static/images/qrcode_2.jpg"/>
        </p>
		</div>
    </div>
  
</div>
</body>
